:root {
    --background: linear-gradient(#101011, #110f18);
    --project-item-bg: rgb(10, 9, 17);
    --lander-bg: rgb(83, 83, 83);
    --content-bg: #1c1b22;
    --footer-bg: var(--content-bg);
    --content-spacing: 0.4cm;
    --skew-size: 1cm;
}

body {
    background: var(--background);
    height: 100vh;
    background-attachment: fixed;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#lander {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 3em;

    /* border: 2px solid black; */
    border-radius: 16px;

    background-color: var(--lander-bg);
}

.content {
    color: #dfdbdd;
    clip-path: polygon(0 0, 0 calc(100% - var(--skew-size)), 100% 100%, 100% var(--skew-size));
    padding: 20px;
    padding-bottom: calc(20px + var(--skew-size));
    margin-bottom: var(--content-spacing);
}

footer {
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% var(--skew-size));
    background-color: var(--footer-bg);
    height: 2cm;
    width: 70vw;
    margin-top: calc(-1 * var(--skew-size));
}

.content>h2:first-child {
    margin-top: 0;
}

.content>p {
    margin: 0 2em;
}

.content:not(:first-child) {
    margin-top: calc(-1 * var(--skew-size));
}

#projects {
    background-color: var(--content-bg);
}

.project-item {
    background-color: var(--project-item-bg);
    padding: 20px;
    border-radius: 12px;
    margin: 15px;
}

.project-item>div {
    width: fit-content;
    padding: 0 1em;
    border-bottom: 1px solid #9d99c2;
}

.project-item>div>.name {
    display: inline-block;
    margin-right: 10px;
}

.project-item>div>a {
    color: #a8a8a8;
    text-decoration: underline dotted;
}

#aboutme {
    background-color: var(--content-bg);
}

#contact {
    background-color: var(--content-bg);
}

/* Inline icons */
.gh-icon {
    vertical-align: middle;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    margin: 0.2em;
    transform: translateY(-10%);

    background-image: url("static/github-mark-white.svg");
    background-size: contain;
    background-repeat: no-repeat;
}