body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#primary {
    height: fit-content;
    padding: 15px;
    border: 2px solid rgb(160, 160, 160);
    border-radius: 6px;
}